@font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/Manrope.woff2);
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

html{
    font-family: 'Manrope';
}
body {
  margin: 0;
  background-color: rgba(252, 249, 245, 0.775);
}

h1, h2, h3 {
    text-transform: uppercase;
}

#instructions {
  margin: 10vw auto;
  width: 60vw;
  height: 30vw;
}
.paper {
  padding: 37px 55px 27px;
  position: relative;
  border: 1px solid #b5b5b5;
  background: white;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}

.paper::after {
  content: "";
  position: absolute;
  width: 0px;
  top: 0;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #f8d3d3;
}

img {
  width: 97vw;
  height: auto;
}

#beskrivelse {
  padding: 0 30vw;
}

.display {
  padding: 5vw 30vw 0vw 30vw;
}

.typer h3 {
  padding-left: 30vw;
  padding-top: 5vw;
}

.typer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10vw 30vw 2vw;
  font-size: small;
}



/*preloader*/

.preloaderBg {
    background-color: rgba(252, 249, 245);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    cursor: none;
  }
  
  .preloaderBg svg {
    border: none;
    width: 30vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  
  .preloaderBg.done,
  .preloaderDemo.done {
    animation: welcome-load 1.7s 4s ease forwards;
  }
  
  @keyframes welcome-load {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-150%);
    }
  }

  /*handwriter*/
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    gap: 5vw;
  }
  
  .handwriting {
    border: none;
    width: 40%;
  }
  #first {
    stroke-dasharray: 1129.7293701171875;
    stroke-dashoffset: 1129.7293701171875;
  
    animation: m 0.8s ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes m {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  #second {
    stroke-dasharray: 724.6718139648438;
    stroke-dashoffset: 724.6718139648438;
  
    animation: os 1s 0.8s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes os {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  #third {
    stroke-dasharray: 871.1315307617188;
    stroke-dashoffset: 871.1315307617188;
  
    animation: ho 1s 1.7s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes ho {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  #four {
    stroke-dasharray: 646.6912841796875;
    stroke-dashoffset: 646.6912841796875;
  
    animation: lm 1.4s 2.7s ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes lm {
    to {
      stroke-dashoffset: 0;
    }
  }